.body{
   
    border: 1px solid black;
    max-width: 500px;
    max-height: fit-content;
justify-content: left;
    padding: 25px;
    border-radius: 15px;
}

.favorite{
    color:blue;
    font-size: 25px;
   font-family: cursive;
}

#mylikes{
    color:rgb(255, 0, 0);
    font-style: inherit;
    font-size: 20px;
  }
  .Turn-offs{
    color: brown;
    font-size: 25px;
    font-family:cursive
  }

  #mydislikes{
    color: indigo;
    font-size: inherit;
    list-style-type: disc;
  }
